*.hi
*.o
*.swp
*.tag
*.DS_STORE
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
flyway.conf
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/doc/_build
/*-hi
/log/*
!log/.keep
site_key.txt
*dump-hi
.bundle
.rspec
